body{
    background-color: red;
}
.contenedor-flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

@media (max-width: 300px) {
    body{
        background-color: blue;
    }
    .contenedor-flex{
        flex-direction: column;
        align-items: center;
    }
}